body {
  background-color: #220f0f !important;
}

/* dropdown */
.dropdown-content {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
  padding: 0 20px 20px 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.dropdown-content .dropdown-menu {
  text-align: center;
  border-radius: 10px;
  background-color: #220f0f;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.75);
  transform: translate(0, 48px) !important;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

.dropdown-content .dropdown-menu button:hover {
  padding-right: 45%;
  transition: all 0.5 ease;
  border: 2px solid rgba(119, 0, 0, 1) !important;
  background-color: rgba(119, 0, 0, 1) !important;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.dropdown-content .dropdown-menu button:hover::after {
  content: "logout";
  position: absolute;
  padding-left: 10px;
  color: rgb(87, 87, 87);
  font-weight: bold;
}

/* hero content */
.hero-content {
  background: linear-gradient(rgba(0, 0, 0, 0.7), #220f0fc5),
    url(../images/avengers.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
}

.hero-content h1 {
  padding-top: 20%;
}

.hero-content h1::before {
  content: "MARVEL";
  padding-right: 15px;
  color: #f40303;
  text-shadow: 0 8px 5px black;
}

.hero-content p {
  width: 100px;
  height: 3px;
  border-radius: 10px;
  background-color: #f40303;
  margin: 0 31%;
  box-shadow: 0 5px 5px black;
}

/* body content */
.modal-content {
  border-radius: 10px !important;
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-top: 2px solid rgb(119, 0, 0) !important;
}

.modal-header {
  border-bottom: 2px solid rgb(119, 0, 0) !important;
  border-radius: 10px;
}
.modal-footer {
  border-top: 0 !important;
  border-bottom: 2px solid rgb(119, 0, 0) !important;
  border-radius: 5px !important;
  width: 50%;
  align-self: center;
}

.button-action {
  display: none;
  position: absolute;
  top: 25px;
  right: 25px;
}

.button-action:hover {
  display: block;
}

.card-image:hover + .button-action {
  display: block;
  float: right;
  opacity: 0.5;
}

.card-image img {
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.75);
  width: 90%;
  height: 390px;
  transform: translate(5.5%, 6%);
  margin-bottom: 30px;
}

.card-column .card-container {
  background: rgba(58, 57, 57, 0.4);
  border: 2px solid #250f0faf;
  border-radius: 20px;
  transition: all 0.5s ease;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.75);
}

.card-column .card-container:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.9), 0 0 25px rgba(0, 0, 0, 0.7),
    0 0 50px rgba(0, 0, 0, 0.5), 0 0 100px rgba(0, 0, 0, 0.25);
  border: 2px solid #000000a8;
  transform: scale(1.025);
  background: rgba(7, 7, 7, 0.7);
}

/* create and update page */
.card-create {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  margin: 7% 25%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
  background-color: rgba(37, 36, 36, 0.507) !important;
  border-radius: 10px !important;
  padding: 10px 0;
}

.create-icon a:nth-child(1):hover {
  border-bottom: 1px solid white;
  padding: 0 5px;
}
.create-icon a:nth-child(2):hover {
  border-bottom: 1px solid white;
  padding: 0 5px;
}
.create-icon a:nth-child(4):hover {
  border-bottom: 1px solid red;
  padding: 0 5px;
}
.create-icon a:nth-child(5):hover {
  border-bottom: 1px solid blue;
  padding: 0 5px;
}

.create-icon a:hover {
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.create-icon a {
  transition: all 0.5s ease;
  border-radius: 10px;
  margin-top: -20px;
  font-family: "Courier New", Courier, monospace;
}
.create-icon a button {
  border: 1px solid transparent;
  position: absolute;
  transition: all 0.4s ease;
  right: 125px;
}

.create-icon a button:hover {
  border: 1px solid transparent;
  padding-right: 6%;
  box-shadow: 5px 15px 30px rgba(0, 0, 0, 0.5);
  background-color: #333 !important;
  overflow: hidden;
}

.create-icon a button:hover::after {
  content: "Create";
  position: inherit;
  padding-left: 10px;
  color: rgb(133, 131, 131);
}

/* login form */
.login-box {
  width: 36%;
  padding: 40px;
  transform: translate(88%, 16%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f40303;
  font-size: 12px;
}

.login-box form .button-submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #f40303;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  border: 2px solid transparent;
}

.login-box .button-submit:hover {
  background: #f40303;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f40303, 0 0 25px #f40303, 0 0 50px #f40303,
    0 0 100px #f40303;
  border: 2px solid transparent;
}

.login-box .button-submit span {
  position: absolute;
  display: block;
}

.login-box .button-submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f40303);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box .button-submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f40303);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box .button-submit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f40303);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box .button-submit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f40303);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* register form */
.register-box {
  width: 36%;
  padding: 40px;
  transform: translate(88%, 3%);
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.register-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.register-box .signup-box {
  position: relative;
}

.register-box .signup-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.register-box .signup-box select {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 25px;
  color: white;
  outline: 1px solid white;
  background: transparent;
}

.register-box .signup-box option {
  font-size: 16px;
  color: black;
}

.register-box .signup-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.register-box .signup-box input:focus ~ label,
.register-box .signup-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f40303;
  font-size: 12px;
}

.register-box form .button-submit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #f40303;
  font-size: 16px;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: transparent;
  border: 2px solid transparent;
}

.register-box .button-submit:hover {
  background: #f40303;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f40303, 0 0 25px #f40303, 0 0 50px #f40303,
    0 0 100px #f40303;
  border: 2px solid transparent;
}

.register-box .button-submit span {
  position: absolute;
  display: block;
}

.register-box .button-submit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f40303);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.register-box .button-submit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f40303);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.register-box .button-submit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f40303);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.register-box .button-submit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f40303);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

/* create */
.form-create .form-create_box {
  position: relative;
}
.form-create .form-create_box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.form-create .form-create_box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.form-create .form-create_box input:focus ~ label,
.form-create .form-create_box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f40303;
  font-size: 12px;
}

@media only screen and (max-width: 768px) {
  /* login form */
  .login-box {
    width: 90%;
    transform: translate(5.5%, 10%);
  }

  .login-box form .option-login {
    flex-wrap: wrap-reverse;
  }

  .login-box form .option-login button {
    width: 100%;
  }

  /* register form */
  .register-box {
    width: 90%;
    transform: translate(5.5%, 4%);
  }
  .register-box form div .button-submit {
    width: 100%;
  }

  /* home page */
  .dropdown-content {
    width: 90% !important;
  }

  /* hero content */
  .hero-content {
    background: linear-gradient(rgba(0, 0, 0, 0.7), #220f0fc5),
      url(../images/avengers.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px;
  }

  .hero-content h1 {
    padding-top: 60%;
    display: flex;
    flex-direction: column;
    line-height: 50px;
  }

  .hero-content p {
    width: 50px;
    height: 3px;
    border-radius: 10px;
    margin: -16% 40.5%;
  }

  .create-icon {
    flex-direction: column;
    line-height: 30px;
    justify-content: start;
  }

  .create-icon p {
    display: none;
  }

  .create-icon a:nth-child(1) {
    margin-bottom: 10px;
    align-self: start !important;
  }
  .create-icon a:nth-child(2) {
    margin-bottom: 10px;
    align-self: start !important;
  }
  .create-icon a:nth-child(4) {
    margin-bottom: 10px;
    align-self: start !important;
  }
  .create-icon a:nth-child(5) {
    margin-bottom: 10px;
    align-self: start !important;
  }

  .create-icon a button {
    right: 25px;
    top: 101%;
  }

  .create-icon a button:hover {
    padding-right: 20%;
    background-color: transparent !important;
  }

  .create-icon a button:hover::after {
    padding-left: 10px;
    color: rgb(133, 131, 131);
  }
}
